<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>racing</title>
		
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no,target-densitydpi=device-dpi" />
		<style type="text/css">
			html,
			body,
			div,
			p,
			h1,
			h2,
			h3,
			span,
			img {
				margin: 0;
				padding: 0;
			}
			
			body {
				font-size: 24px;
			}
			
			span {
				color: #f00;
			}
			
			a {
				text-decoration: none;
				color: #f00;
			}
			
			a:hover {
				color: #000;
			}
			
			#ro_el {
				transform: rotate(0deg);
				display: inline-block;
			}
			
			.car {
				width: 100%;
				height: 100%;
				position: relative;
				transform: rotate(90deg);
				overflow: hidden;
			}
			
			.bg {
				width: 100%;
				height: 90%;
				position: absolute;
				/* top: 2%; */
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				transform: rotate(0deg) scale(1.3);
				transform-origin: 45% 74%;
				/*设置旋转中心为元素中心。*/
			}
			
			.car_coltroller {
				width: 100%;
				position: absolute;
				bottom: 6%;
				left: 0;
			}
			
			.container {
				width: 140%;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				transform: rotate(90deg);
			}
			
			.radio_value {
				position: fixed;
				right: 10px;
				color: #fff;
				bottom: 24%;
				z-index: 100;
				background: #fff;
				color: red;
			}
			
			.start {
				position: fixed;
				top: 77%;
				right: 10px;
				color: #fff;
				z-index: 100;
				background: #fff;
				color: red;
			}
			.score{
				position: fixed;
				top: 0;
				left: 15%;
				
			}
			.score img{
			
			}
			.timer{
			    position: fixed;
			    top: 0;
			    right: 15%;
			    	
			}
			.timer img{
				
			}
			#score{
				color: #00dcf5;
				font-family: "微软雅黑";
				font-size: 24px;
				font-weight: bold;
				
			}
			#timer{
				color: #00dcf5;
				padding: 15px 10px;
			}
		</style>
	</head>

	<body>

		<div class="container">
			<!--<div class="car">-->
			<div class="score">
				<img src="img/score.png" />
				<p id="score">{{score}}</p>
			</div>
			<p class="radio_value">角度差：<span id="beta">0</span></p>
			<img src="img/dash.png" class="bg" />
			<img src="img/car_controller.png" class="car_coltroller" />
			<div class="timer">
				<img src="img/time.png" />
				<p id="timer">{{time}}</p>
			</div>
			<h2 class="start">Start</h2>
			<!--</div>-->
		</div>
		
		<!--调试窗口插件-->
		<script src='http://game.i-h5.cn/egret/common/vconsole.min.js'></script>
		<!--游戏触发后界面-->
		<script type="text/javascript">
			//声明变量并赋值
			var is_num = 0; //第一次 绝对值
			var rotate_deg = 0; //现角度
			var temp_rotate = 0; //角度差
			
//			给Start元素绑定监听事件 触发方式为点击
			let btn = document.querySelector(".start"); //获取页面 元素对象
			btn.onclick = function() {
				window.addEventListener("deviceorientation", orientationHandler, false);
				document.querySelector('body').removeChild(btn);
			};

            //开始函数
			function orientationHandler(event) {
				console.log(is_num);//控制台输出初始值
				//判断初始值
				if(is_num < 1) {
					rotate_deg = event.beta; //初始角度
					console.log(`初始角度:${rotate_deg}`);
					is_num++;
				} else {
					console.log(222);
					// 如果不是第一次。  就取差值
					temp_rotate = event.beta - rotate_deg;
					temp_rotate = parseInt(temp_rotate);
					if(temp_rotate) {
						temp_rotate > 60 ? temp_rotate = 50 : temp_rotate;
						temp_rotate = temp_rotate - temp_rotate * 2;
					} else {
						temp_rotate < -60 ? temp_rotate = -50 : temp_rotate;
						temp_rotate = temp_rotate + temp_rotate * 2;
					}
					//控制台输出 beta初始角度 现角度  绝对差值temp_rotate
					console.log(`初始角度:${rotate_deg},现角度${event.beta},绝对差值${temp_rotate}`);
				}
				document.getElementById("beta").innerHTML = temp_rotate; // 角度差
				document.querySelector(".bg").style.transform = "rotate(" + temp_rotate + "deg)  scale(1.3)";
			}
		</script>
	</body>

</html>