/* 初始化样式 */
@charset "utf-8";
body,
div,
span,
a,
img,
ul,
li,
h1,
h3,
h4,
header,
footer,
video,
input,
select,
p,
h3,
h2,
h3,
iframe,
option,
iframe {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}
html {
    color: #222;
    font-family: "Microsoft YaHei";
    /*width: 100%;*/
    height:100%;
}
html {
    font-size:62.5%;
}
img {
    display: block;
    border: 0;
    width:100%;
    /*height: 100%;*/
}


ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}


/******* 登录模块 ********/
.container_login{
    width: 100%;
    height: 100%;
    /*display: none;*/
}
.bg_login{
    background: url("img/bg_login.jpg") no-repeat;
    background-size: 100% 100%;
}
.container_login img:nth-child(1){
    width: 40%;
    position: fixed;
    right: 0;
    bottom: 0;
}
.container_login img:nth-child(2){
    width: 14%;
    position: absolute;
    left: 44%;
    top: 35%;
}

/* 手机晃动提示 */
@keyframes shaking {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    20% {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    40% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    80% {
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
}
#shaking{
    -webkit-animation: shaking infinite 4s;
}











/******** 游戏模块 *******/
.container_paly{
    /*display: none;*/
    height: 100%;
    position: relative;
    overflow: hidden;
}
.bg_play{
    background: url("img/bg_play.jpg") no-repeat;
    background-size: 100% 100%;
}
.container_paly img:nth-child(1){
    position: absolute;
    width: 60%;
    bottom: -71%;
    left: 20%;
}

.container_paly img:nth-child(2){
    display: none;
    width: 100%;
    height: 100%;
}
.wheel{
    transform-origin: 50% 50% 0;
    transform: rotate(0deg);
}
.start{
    color: red;
    right: 0;
    position: absolute;
    bottom: 20%;
    font-size: 2rem;
}
.time_hours{

}
.time{

}
.time_ms{
    /*color: #ffde00;*/
}
.over-time{
    color: #ffde00;
    width: 15%;
    position: absolute;
    right: 3%;
    top: 12%;
    font-size: 1.8rem;
}

.play_score {
    color: #ffde00;
    font-family: "微软雅黑";
    font-size: 2.2rem;
    font-weight: bold;
    /* left: 54%; */
    top: 10%;
    /*left: 10%;*/
    position: absolute;
    left: 18%;
    font-style: italic;
}
.warning{

}

/********** 结束界面 *********/
.container_end{
    /*display: none;*/
    height:100%;
}
.container_end img:nth-child(1){
    height: 100%;
}
.end_score{
    position: absolute;
    width: 3%;
    top: 8%;
    display: flex;
    right: 8%;
    height: 7%;
}
