.contain{
    background: url("../image/foot.jpg") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.op{
    font-size: 0.6rem;
    color: #FF7200;
    text-align: center;
    padding-top: 1.4rem;
    padding-bottom: 0.25rem;
    font-weight: 900;
}
.join {
    text-align: center;
    color: #ffffff;
    font-size: 0.36rem;
}
img{
    width: 100%;
    height: 100%;
    margin-top: 0.08rem;
}
.goods{
    width: 6rem;
    height: 2.55rem;
    margin: 0 auto;
    margin-top: 1.2rem;
    margin-bottom: 0.9rem;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 0.2rem;
    overflow: hidden;
}
.map{
    width: 2rem;
    margin-right: 0.2rem;
}
.redeem{
    width: 5.5rem;
    height: auto;
    margin: 0 auto;
    color: #ffffff;
    font-size: 0.25rem;
    line-height: 0.55rem;
}
.deem{
    font-size: 0.32rem;
    margin-bottom: 0.25rem;
    font-weight: 900;
}
.redeem li span{
    font-weight: 900;
}
.redeem li i{
    font-style: normal;
}
.watch{
    display: inline;
}
.time{
    color: #FF7200;
}
.little{
    color: #FF7200;
    font-size: 0.36rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}