*{margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font: 14px "microsoft yahei", Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}
button,input:focus{
    outline: none;
}
ul,li,ol,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,img,div {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
}
a:link,a:visited,a:hover,a{text-decoration: none;}
.rt{float: right;}
.lf{float: left;}
.login>img{
    background-size: 100%;
    width: 100%;
}
input{
     outline: none !important;
    -webkit-appearance: none !important;
}
.on{display: none!important;}
.cl{
    color: #0071C8;
}
/*底部样式*/
