.contain{
    background: url("../image/foot.jpg") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.op{
    font-size: 0.6rem;
    color: #FF7200;
   text-align: center;
    padding-top: 1.4rem;
    padding-bottom: 0.25rem;
    font-weight: 900;
}
.join {
    text-align: center;
    color: #ffffff;
    font-size: 0.32rem;
}
.happly{
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    margin-top: 1.25rem;
}
.happly img{
    width: 100%;
    height: 100%;
}
.index_text{
    width: 5.5rem;
    height: auto;
    margin: 0 auto;
    text-align: left;
    color: #ffffff;
    margin-top: 0.4rem;
}
.joinStyle{
    font-size: 0.3rem;
    font-weight: 900;
    margin-bottom: 0.4rem;
}
.activity{
    font-size: 0.3rem;
    line-height: 0.5rem;
}
.activity i{
    font-style: normal;
    color: #FF7200;
}