.contian{
    background: url("../image/4.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.header{
    padding-top: 0.5rem;
}
.header p{
    font-size: 0.4rem;
    width: 4.7rem;
    height: auto;
    color: #FB7000;
    text-align: center;
    position: absolute;
    top:1.3rem;
    left:1.5rem;
}
.header p i{
    font-style: normal;
    color: #FFDE00;
    font-weight: bold;
}
.header a{
    color: #FB7000;
    font-size: 0.4rem;
    font-weight: bold;
    position: absolute;
    top:2.65rem;
    left:3.1rem;
}
img{
    width: 100%;
    height: 100%;
}
.ranking{
    width: 6.76rem;
    height: 3.15rem;
    background: url("../image/3.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
.my_cord{
    color: #ffffff;
    text-align: center;
    padding-top: 0.8rem;
}
.photots{
    width: 80%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 1.6rem;
    margin: 0 auto;
    margin-top: 0.2rem;
}
.photots li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.2rem;
    flex-direction: column;
}
.photo_head {
    width: 7vh;
    height: 7vh;
    border-radius: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../image/3-1.png);
    background-size: 100% 100%;
    overflow: hidden;
}
.photo_head img{
    width: 5.6vh;
    height: 5.6vh;
    margin: 0 auto;
    border-radius: 5vh;
}
.place{
    color: #ffffff;
    margin-top: 0.2rem;
}
.state{
    font-size: 0.26rem;
    color: #ffffff;
    width: 6.6rem;
    margin: 0 auto;
    margin-top: 0.2rem;
}
.state li{
    line-height: 0.45rem;
}
.state li:nth-child(1){
    color: #FF7200;
    font-weight: bold;
    font-size: 0.3rem;
}
.layer{
    background: #000;
    opacity: 0.6;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pop-up{
    position: absolute;
    top:16%;
    left: 0.35rem;
    width: 6.75rem;
    height: 6.5rem;
    background: url("../image/my.png") no-repeat;
    background-size: 100% 100%;

}
.money{
    color: #000;
    font-size: 0.36rem;
    text-align: center;
    margin-top: 0.3rem;
    height: 1.04rem;
    line-height: 1.04rem;
}
.money i{
    color: #FF1400;
    font-size: 0.8rem;
    font-weight: bold;
    font-style: normal;
}
.spoil{
    color: #000000;
    font-size: 0.28rem;
    text-align: center;
}
.import{
    width: 75%;
    height: 2.4rem;
    margin: 0 auto;
    margin-top: 0.2rem;
}
.verify{
    width: 2.8rem;
}
input{
    width: 100%;
    height: 0.95rem;
    border: 1px solid #BEC8D3;
    margin-top: 0.2rem;
    padding-left: 0.2rem;
    color: #989898;
    font-size: 0.28rem;
    box-shadow: 0 0 1px #ffffff;
}
.gain{
    display: inline-block;
    width: 1.9rem;
    height: 1rem;
    background-color: #DDDDDD;
    color: #FD7A15;
    text-align: center;
    line-height: 1rem;
    border-radius: 0.1rem;
    margin-left: 0.2rem;

}
.btn{
    width: 75%;
    height: 0.85rem;
    background-color: #909090;
    line-height: 0.85rem;
    color: #DDDDDD;
    font-size: 0.32rem;
    text-align: center;
    border-radius: 0.1rem;
    margin: 0 auto;
    margin-top: 0.85rem;
}
.times{
    color: #999999;
    font-size: 0.7rem;
    position: absolute;
    top:0;
    right: 0.1rem;
}
.hiden{
    display: none;
}
.popOne{
    position: absolute;
    top:31%;
    left: 1.15rem;
    width: 5.2rem;
    height: 5rem;
    background: url("../image/we.png") no-repeat;
    background-size: 100% 100%;
}
.win{
    font-size: 0.36rem;
    color: #000000;
    text-align: center;
    margin-top: 0.9rem;
}
.gift{
    font-size: 0.26rem;
    color: #000000;
    text-align: center;
    margin-top: 0.8rem;
}
.use{
    font-size: 0.32rem;
    color: #ffffff;
    width: 75%;
    height: 0.65rem;
    line-height: 0.65rem;
    text-align: center;
    margin: 0 auto;
    background-color: #FF7200;
    border-radius: 0.1rem;
    margin-top: 1.45rem;
}