body{
    background-color: #F6F6F6;
}
.convert{
    height: 3.2rem;
    width: 100%;
    text-align: center;
    font-size: 0.28rem;
    background-color: #ffffff;
}
.convert_phone{
    border: 1px solid #BEC8D3;
    height: 0.8rem;
    width: 6.7rem;
    margin-top: 0.4rem;
    padding-left: 0.3rem;
    color: #909090;
    font-size: 0.28rem;
}
.convert_name{
    border: 1px solid #BEC8D3;
    height: 0.8rem;
    width: 6.7rem;
    margin-top: 0.2rem;
    padding-left: 0.3rem;
    color: #909090;
    font-size: 0.28rem;
}
.convert_time{
    border: 1px solid #BEC8D3;
    height: 0.8rem;
    width: 6.7rem;
    margin-top: 0.2rem;
    padding-left: 0.3rem;
    color: #909090;
    font-size: 0.28rem;
}
.convert_seek{
    background-color: #ffffff;
    padding: 0.45rem 0;
}
.seek{
    width: 2rem;
    height: 0.6rem;
    background-color: #FF7200;
    color: #ffffff;
    font-size: 0.28rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.15rem;
    line-height: 0.6rem;
}
.kind{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.28rem;
    color: #000000;
    border-top: 0.1rem solid #F6F6F6;
    background-color: #ffffff;
}
.Minions{
    background-color: #ffffff;
}
.Minions li{
    height: 1.6rem;
    width: 100%;
    border-top: 0.1rem solid #F6F6F6;
    display: flex;
    justify-content:space-around;
}
.map_text{
    height: 1.6rem;
    display: flex;
    justify-content: space-between;
    line-height:1.6rem;
}
.map_text img{
    display: inline-block;
    width: 1.12rem;
    height: 1.12rem;
}
.map_text span{
    width: 1.7rem;
    height: 1.6rem;
    font-size: 0.22rem;
    overflow: hidden;

}
i{
    font-style: normal;
    font-size: 0.22rem;
    color: #000000;
}
.time{
    margin-right: -0.3rem;
}
.time i{
    width: 1.4rem;
    display: inline-block;
    padding-top: 0.45rem;
    text-align: center;
}
.time img{

    height: 0.35rem;
    display: inline-block;
}