body{
    background-color: #F6F6F6;
}
img{width: 100%;height: 100%}
.details_header{
    width: 100%;
    background-color: #ffffff;
}
.details_header img{
    height: 4.8rem;
    display: block;
}
.details_header p{
    font-size: 0.32rem;
    color: #000000;
    text-align: center;
    height: 0.8rem;
    line-height: 0.8rem;
}
.portrait{
    width: 100%;
    height: 2.1rem;
    background-color: #ffffff;
   border-top: 0.1rem solid #E9E9E9;
}
.portrait img{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin: 0.3rem;
}
.portrait span{
    display: inline-block;
    vertical-align: top;
    padding-top: 0.8rem;
    font-size: 0.28rem;
    color: #000000;
}
.user{
    width: 100%;
    height: 2.25rem;
    background-color: #ffffff;
    font-size: 0.26rem;
    color: #000000;
    box-shadow: 2px 2px 4px #e1e1e1;
}
.user li{
    border-top: 1px solid #F1F1F1;
    height: 0.75rem;
    line-height: 0.75rem;
    padding-left: 0.3rem;
}
.cancel{
    width: 7rem;
    height: 0.85rem;
    background-color: #FF7200;
    color: #ffffff;
    line-height: 0.85rem;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.38rem;
    margin: 0.65rem auto;
}