body{
    background-color: #F6F6F6;
}
.header_index{
    width: 100%;
    height: 2.8rem;
    background-color: #ffffff;
    line-height: 2.8rem;
    text-align: center;
    box-shadow: 2px 2px 4px #e1e1e1;
}
.header_index input{
    height: 1rem;
    width: 5.2rem;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #BEC8D3;
    color: #afafaf;
    padding-left: 0.3rem;
    font-size: 0.28rem;
    box-shadow: 0 0 0 #fff;
}
.foot_index{
    width: 100%;
    height: 3.2rem;
    position: fixed;
    bottom: 0;
    text-align: center;
}
.btn{
    width: 7rem;
    background-color: #FF7200;
    height: 0.85rem;
    text-align: center;
    line-height: 0.85rem;
    color: #ffffff;
    margin: 0 auto;
    border-radius: 0.12rem;
    margin-bottom: 0.68rem;
    font-size: 0.38rem;
}
.check{
    width: 7rem;
    height: 0.85rem;
    text-align: center;
    line-height: 0.85rem;
    margin: 0 auto;
    border-radius: 0.12rem;
    border: 1px solid #FF7200;
    color: #FF7200;
    font-size: 0.38rem;
}