.container {
    width: 100%;
    background: #ebebeb;
    padding-bottom: 4.5rem;
}

.head {
    width: 100%;
    height: 60vh;
    margin-bottom: 2rem;
    background: #f1f1f0;
    /* align-items: center; */
    /* background: #fff;*/
    box-shadow: 0 0.5vh 0.7vh #ccc;
}

.head h3 {
    font-size: 1.7rem;
    margin-top: 4vh;
    color: #222;
    font-weight: normal;
    text-align: center;
}

.head img {
    width: 35vw;
    margin: 13vh auto 0;
	transform:scale(1.3);
}

.row_title {
    margin: 0 auto 2vh;
    width: 50vw;
}

.shops {
    width: 94%;
    margin: 1vh auto;
    /* background: #fff; */
}

.shop_item {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    height: 21.5vh;
    border-radius: 3vw;
    background: #fff;
}

.shop_photo {
    width: 9vw;
    height: 9vw;
    border-radius: 13vw;
    border: 2.5vw solid #bed4ff;
}

.infos {
    margin-left: 3vw;
    justify-content: center;
}

.info_title {
    color: #76b1fd;
}

.info_subtitle {
    color: #bec8d3;
}

.shop_img {
    width: 100%;
    margin-top: 1.3vh;
    max-height: 10vh;
    border-radius: 1.5vh;
    margin: 6vw auto 0;
}

.is_listen {
    padding: 15vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 6vw;
    position: relative;
}

.is_listen > img {
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.is_listen > span {
    position: absolute;
    left: 35%;
}

.listen_loadding:nth-child(2) {
    animation: colorScale 0.6s infinite linear;
}

.listen_loadding:nth-child(3) {
    animation: colorScale 0.8s infinite linear;
}

.listen_loadding:nth-child(4) {
    animation: colorScale 0.9s infinite linear;
}

.is_listen > span:nth-child(5) {
    width: 30vw;
    height: 30vw;
    border-radius: 30vw;
    background: #fe8c3d;
    transform: scale(1.3);
    opacity: 0.7;
    z-index: 10;
    /* animation: colorScale 0.8s infinite linear; */
}

.is_listen > span:nth-child(3) {
    width: 30vw;
    height: 30vw;
    border-radius: 30vw;
    background: #fe8c3d;
    transform: scale(1.6);
    opacity: 0.5;
    z-index: 9;
    /* animation: colorScale 0.6s infinite linear; */
}

.is_listen > span:nth-child(4) {
    width: 30vw;
    height: 30vw;
    border-radius: 30vw;
    background: #fe8c3d;
    transform: scale(1.9);
    opacity: 0.3;
    z-index: 8;
    /* animation: colorScale 0.9s infinite linear; */
}

@keyframes colorScale {
    0% {
        background: #fe8c3d;
    }
    30% {
        background: #fea060;
    }
    75% {
        background: #f2e7de;
    }
    100% {
        background: #fe8c3d;
    }
}

.listen_over {
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
    z-index: 100;
    border-radius: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fe8c3d;
}

.listen_over > span {
    margin: 0 1vw;
    transform: scale(1.1);
}

.listen_over > span:nth-child(1) {
    width: 3vw;
    height: 3vw;
    background: #fff;
    border-radius: 3vw;
    /* transform: background: */
    animation: mycolor 0.4s infinite linear;
}

@keyframes mycolor {
    0% {
        background: #fff;
    }
    100% {
        background: #f6ccad;
    }
}

.listen_over > span:nth-child(2) {
    width: 3vw;
    height: 3vw;
    background: #fff;
    border-radius: 3vw;
    animation: mycolor 0.8s infinite linear;
}

.listen_over > span:nth-child(3) {
    width: 3vw;
    height: 3vw;
    background: #fff;
    border-radius: 3vw;
    animation: mycolor 1.2s infinite linear;
}

.listen_fail {
    width: 100%;
    text-align: center;
    color: #ff6666;
    font-size:0.9rem;
    margin: 7% 0;
}

.footer {
    width: 100%;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background: #fff;
}

.footer ul {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.footer a {
    color:#222;
}

.footer h3 {
    font-size: 1.2rem;
    color: #000;
    /* font-weight: normal; */
}

.footer li:first-child h3 {
    color: #ff7200;
}

.footer img {
    width: 1.9rem;
}

.footer li {
    align-items: center;
    justify-content: space-between;
}

.shops_thnum {
    width: 95%;
    margin: 1vh auto;
}

.head .listen_txt {
    width: 35%;
    margin: 9% auto 0;
}

.mask{
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: fixed;
	top: 23.5%;
    left: 35vw;
    background: rgba(0,0,0,0.6);
    border-radius: 25vw;
	transform:scale(1.25);
}
.mask img {
    width:40%;
    margin:0 auto;
    animation: ro90 ease infinite 1.5s;
}
.mask p{
    color:#fff;
    font-size:3.8vw;
    margin-top:1vw;
    text-align: center;
    font-weight: normal;
}
@keyframes ro90 {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}