.lzy_text-color {
    color: #000000;
}

.swiper-container {
    width: 100%;
}

.swiper-container img {
    display: block;
    width: 100%;
}

.weui-tabbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: fixed;
    z-index: 5000;
    bottom: 0;
    width: 100%;
    background-color: #f7f7fa;
}

.weui-search-bar {
    position: fixed;
    padding: 8px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    background-color: #efeff4;
    z-index: 500;
    width: 100%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ff7200;
}

.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color: #ff7200;
}

.index.container {
    width: 100%;
    padding: 44px 0px 53px 0px;
}

.index.group_purchase {
    width: 100%;
    display: flex;
    border-bottom: solid #eee 6px;
}

.index.group_purchase-right-up-right-image {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.index.group_purchase-right-up-right-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.index.group_purchase-left {
    width: 40%;
    /* padding: 5px; */
    border-right: #eee solid 2px;
}

.index.group_purchase-right {
    width: 60%;

}

.index.group_purchase-right-up {
    display: flex;
    width: 100%;
    border-bottom: #eee solid 2px;
    height: 40%;
}

.index.group_purchase-right-down {
    display: flex;
    width: 100%;
    height: 60%;
}

.index.group_purchase-right-down-left {
    width: 50%;
    border-right: #eee solid 2px;
}

.index.group_purchase-right-down-right {
    width: 50%;
}

.index .group_purchase-left-wrap {
    padding: 5px 10px;
    line-height: 25px;
}

.page.index {
    width: 100%;
    height: 100%;;
}

.index.group_purchase-right-up-left {
    width: 70%;
    line-height: 1.6em;
}

.index .group_purchase-right-down-image {
    display: inline-block;
    width: 100%;
    height: 100px;
}

.index .group_purchase-right-down-image img {
    width: 100%;
    height: 100%;
}

.index.group_purchase-left-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.index .group_purchase-left-1 {
    color: #ff7200;
    font-size: 1.2em;
    font-weight: 400;
}

.index .group_purchase-right-up-left-text.a {
    display: block;
    font-weight: bold;
}

.index .group_purchase-right-up-left-text.b {
    display: block;
    color: #999;
}

.index .group_purchase-right-up-left-text.c {
    display: block;
    padding-top: 10px;
}

.index.group_purchase-left-icon img {
    width: 100%;
    height: 100%;
}

.index .group_purchase-left-2, .index.group_purchase-right-down-left-text, .index.group_purchase-right-down-right-text, .index.group_purchase-right-up-left-text.b {
    color: #999;
}

.index.group_purchase-left-image {
    width: 100%;
    height: 180px;
    padding: 5px 0;
}

.index.group_purchase-left-image img {
    width: 100%;
    height: 100%;
}

.index.group_purchase-right-up-right {
    width: 30%;
    padding: 20px 0px;
}

.index .group_purchase-right-up-left-text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.index .group_purchase-right-down-left-text {
    display: block;
}

.index .group_purchase-right-down-right-text {
    display: block;
}

body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    display: block;
}

.index .group_purchase-right-up-left-wrap {
    padding: 5px;
}

.index.group_purchase-right-down-left-text.l {
    color: deeppink;
    font-size: 1.2em;
}

.index.group_purchase-right-down-right-text.r {
    color: orange;
    font-size: 1.2em;
}

.index .group_purchase-right-down-left-wrap, .index .group_purchase-right-down-right-wrap {
    padding: 5px 5% 5px 5%;
}

.index .group_purchase-right-down-right-text.big, .index .group_purchase-right-down-left-text.big {
    color: #999;

}

.index.group_purchase-right-up-left-text.d {
    color: #ff7200;
    font-weight: bold;
    font-size: 1.2em;
}

del {
    font-size: 0.8em;
    color: #999;
}

.index .search-bar-left-text {
    font-size: .8em;
    color: white;

    text-align: center;
}

.index .search-bar {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: #ff5000;
    height: 48px;
}

.fa.fa-commenting-o.index {
    color: white;
}

.index .search-bar-left {
    width: 12%;
    line-height: 14px;
    text-align: center;
}

.cart-content {
    width: 100%;
    top: 0;
    bottom: 50px;
    position: absolute;
    background-color: white;
}

.bar.cart-bar-bottom {
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 50px;
    border-top: 1px solid #e7e7e7;
    background-color: white;
}

.index .search-bar-left-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    /* padding: 6px 0 0 12px; */
    /* text-align: center; */
    padding-top: 10px;
}

.user-order {
    width: 100%;
    height: 60px;
    display: flex;
    color: #504c4c;
    background-color: white;
}

.index .search-bar-left-icon img {
    width: 100%;
    height: 100%;
}

.weui-search-bar {
    width: 80%;
    background-color: #ff5000;
    padding-top: 12px;
}

.index .search-bar-right {
    width: 8%;
    text-align: center;
    /* padding: 7px 0px; */
    line-height: 14px;
}

.index .search-bar-right-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding-top: 10px;
}

.index .search-bar-right-icon img {
    width: 100%;
    height: 100%;
}

.weui-search-bar__cancel-btn {
    display: none;
    margin-left: 10px;
    line-height: 28px;
    color: white;
    white-space: nowrap;
}

.index .search-bar-right-text {
    display: block;
    color: white;
    padding-top: 3px;
    font-size: .8em;
}

.index .search-bar-center {
    width: 80%;

}

.demos-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

.weui-search-bar__form {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
    background-color: #efeff4;
    border-radius: 20%;
}

.weui-search-bar:before {
    top: 0;
    border-top: 1px solid #ff7200;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.weui-search-bar:after {
    bottom: 0;
    border-bottom: 1px solid #ff7200;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.demos-sub-title {
    text-align: center;
    color: #888;
    font-size: 14px;
}

.demos-header {
    padding: 35px 0;
}

.demos-content-padded {
    padding: 0;
}

.demos-second-title {
    text-align: center;
    font-size: 24px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

.index-loading-content {
    background-color: white;
    text-align: center;
    padding: 15px;
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

footer a {
    color: #999;
    text-decoration: none;
}

.index .new_commodity {
    width: 100%;
    border-left: 5px solid #ff7200;
    height: 2em;
    border-bottom: solid #eee 6px;
    border-top: solid #eee 6px;
}

.weui-search-bar__label {
    color: #999;

}

.index .new_commodity-text {
    font-size: 1.2em;
    padding-left: 3%;
    color: #ff7200;
    font-weight: 400;
}

.index .wiper-slide-new_commodity {
    width: 100%;
    display: flex;
}

.index .wiper-slide-new_commodity-item {
    width: 50%;

}

.index .wiper-slide-new_commodity-item-wrap {
    background-color: white;
}

.index .wiper-slide-new_commodity-item-image {
    padding: 6px;
}

.index .wiper-slide-new_commodity-item-image img {
    height: 100%;
}

.index .wiper-slide-new_commodity-item-commodity_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding-left: 2%;
}

.index .wiper-slide-new_commodity-item-commodity_price-wrap {
    text-align: left;
    padding-left: 2%;
}

.index .wiper-slide-new_commodity-item-commodity_price {
    color: #ff7200;
    font-size: 1.1em;
    font-weight: bold;
}

.index .wiper-slide-new_commodity-item-commodity_cash-past {

}

.index .may_goods-wrap {
    background-color: white;
    width: 100%;
}

.index.may_commodity {
    width: 100%;
    background-color: white;

}

.index .may_commodity-wrap {
    width: 100%;
    display: flex;

}

.index .may_commodity-wrap-item {
    width: 50%;

}

.index .may_commodity-wrap-item-image {
    display: inline-block;
    width: 100%;
}

.index .may_commodity-wrap-item-image img {
    width: 100%;
}

.index .may_commodity-wrap-item-wrap {
    padding: 3px;
}

.index .may_commodity-wrap-item .commodity_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.index .may_commodity-wrap-item .commodity_price {
    color: #ff7200;
    font-size: 1.2em;
    font-weight: bold;
}

.index .may_commodity-wrap-item-icon {
    width: 18px;
    height: 18px;
    /* text-align: right; */
    position: absolute;
    right: 10px;
    bottom: 6px;
}

.index .may_commodity-wrap-item-icon img {
    width: 100%;
    height: 100%;
}

.index .may_commodity-wrap-item-price-wrap {
    position: relative;
    display: flex;
}

.index.may_commodity-ropaganda {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 4px 0;
}

.index.may_commodity-ropaganda-text {
    color: #999;
}

.user-info_top-user_name {
    width: 33%;
    text-align: left;
    padding: 10px 0;
}

.user-info_top-user_setting {
    width: 33%;
    display: flex;
    text-align: center;
    padding: 10px 0;
}

.user-info_top-user_avatar {
    width: 33%;
    text-align: center;
}

.user-info_top-user_avatar-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 10px;
}

.user-info_top-user_avatar-image img {
    width: 100%;
    height: 100%;
}

.user-portrait {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    padding: 0;
}

.user-info-name {
    color: white;
    padding: 0;
    font-size: 1.2em;
}

.fa.fa-commenting-o.user {
    color: white;
    font-size: 1.6em;
    width: 50%;
    padding-left: 20%;
}

.fa.fa-cog.user {
    color: white;
    font-size: 1.6em;
    width: 50%;
    padding-right: 15%;
}

.page.user {
    padding-bottom: 53px;
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
}

.weui_search_inner {
    font-size: 1.2em;
}

.logo {
    position: absolute;
    margin-top: 0.8em;
    margin-left: 3%;
}

#row-bottom.weui-row {
    font-size: 1.0em;;
    line-height: 1.4em;;
    background-color: white;
}

.shopname {
    margin-left: 20%;
    font-weight: bold
}

.piece1 {
    margin-left: 23%;
    padding-right: 7%;
    border-right: solid 2px #ff7200;
    margin-top: 6px;
}

.col-text.col-text-right {
    text-align: center;
}

.piece2 {
    margin-left: 0;
    padding-right: 10%;
    border-right: solid 2px #ff7200;
    margin-top: 6px
}

.weui_search_bar:after {
    bottom: 0;
    border-bottom: none;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.fa.fa-th-list {
    margin-left: 25%
}

.col-text {
    text-align: center;
}

.piece3 {
    margin-right: 10%;
    margin-top: 6px;
}

.fa.fa-link {
    margin-left: 25%
}

.weui_search_outer {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
    background-color: #ff7200;
}

.weui-row .weui-no-gutter .search {
    background-color: #ff7200
}

h1 {
    font-family: "微软雅黑";
    font-size: 40px;
    margin: 20px 0;;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.hour_show {
    background: #3a3434;
    color: #fff;
    line-height: 1.2rem;
    font-size: 1.65em;
    font-family: Arial;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#day_show {
    float: left;
    line-height: 49px;
    color: #c71c60;
    font-size: 32px;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.item-title .unit {
    background: none;
    line-height: 49px;
    font-size: 24px;
    padding: 0 10px;
    float: left;
}

.weui-col-33 .nav {
    text-align: center;
    margin-top: 3%;
}

.nav_name {
    margin-bottom: 8%;
    line-height: 10px;
    color: #6a6969;
}

element.style {
}

.time-item strong {
    background: #5f5e5e;
    color: white;
    line-height: 1.5rem;
    font-size: 1.4rem;
    font-family: Arial;
    /* padding: 0 10px; */
    margin-right: 4px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.goods-name {
    font-size: 14px;
    color: #371f1f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.price {
    font-weight: bold;
    color: #ff7200;
}

del {
    font-size: 0.8em;
    color: #837676;
}

.message-tip {
    display: block;
}

.fa .fa-commenting {
    display: block;
}

.ad_left {
    width: 97%;
    margin-left: 2%;
    margin-right: 1%;
    background-color: white
}

.ad_right {
    background-color: white;
    width: 97%;
    margin-right: 2%;
    margin-left: 1%
}

.menu_img_left {
    width: 100%;
    height: 50%;
    margin-top: 5%
}

.menu_left {
    margin-left: 5%;
}

.weui-col-50.left {
    margin-top: 0.3em;
    background-color: white;
}

.weui-col-50.right {
    margin-top: 0.3em;
    background-color: white
}

.fa .fa-shopping-cart {
    float: right;
    margin-right: 10%;
    margin-top: 0.3em;
}

/*.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    opacity:0.5;
}
.swiper-pagination-bullet-active {
    opacity: 0.8;
    background: #ff7200;
}*/
#pagination-bullet .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #878686;
    opacity: 0.8;
    margin: 0 5px;
}

#pagination-bullet .swiper-pagination-bullet-active {
    opacity: 0.9;
    background: #ff7200;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 0.9;
    background: #ff7200;
}

.weui_search_inner {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

#row-bottom.weui-row {
    font-size: 1.0em;;
    line-height: 1.4em;;
    background-color: white;
}

.shopname {
    margin-left: 20%;
    font-weight: bold
}

.piece1 {
    margin-left: 20%;
    padding-right: 7%;
    border-right: solid 2px #ff7200;
    margin-top: 6px;
}

.col-text.col-text-right {
    text-align: center;
}

.piece2 {
    margin-left: 0;
    padding-right: 10%;
    border-right: solid 2px #ff7200;
    margin-top: 6px
}

.weui_search_bar:after {
    bottom: 0;
    border-bottom: none;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.fa.fa-th-list {
    margin-left: 25%
}

.col-text {
    text-align: center;
}

.piece3 {
    margin-right: 10%;
    margin-top: 6px;
}

.fa.fa-link {
    margin-left: 25%
}

.weui_search_outer {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
    background-color: #ff7200;
}

.weui_search_bar:before {
    top: 0;
    border-top: 1px solid #ff7200;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.weui_search_bar:after {
    bottom: 0;
    border-bottom: 1px solid #ff7200;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.line {
    height: 0.3rem;
    background-color: #eae9e9;
    margin-top: 0;
    width: 100%;
}

.weui_search_outer {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
    background-color: #ff7200;
}

.swiper-container {
    width: 100%;
}

.swiper-container img {
    display: block;
    width: 100%;
    height: 7.975rem;
}

#my_main-swiper-slide-image1 {
    display: block;
    width: 100%;
}

.search_bar_left {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 3px;
    display: block;
    margin-left: 5px;
}

.search_bar_right {
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.nav_tab {
    position: fixed;
    height: 2.5rem;
    bottom: 0px;
    background-color: #ff3600;
    width: 100%;
    z-index: 999;
}

.tab_item {
    text-align: center;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

.nav_top {
    position: fixed;
    width: 100%;

    top: 0;
    z-index: 999;
}

.content {
    top: 1.75rem;
    width: 100%;
    bottom: 2.5rem;
    position: absolute;
}

.my_badge {
    display: inline-block;
    padding: .15em .4em;
    min-width: 8px;
    border-radius: 18px;
    background-color: black;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}

.goods_price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
    height: 100%;
    background-color:#ebebeb;
}

.bar.bar-nav {
    width: 100%;;
    height: 45px;
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: #ff5000;
    display: flex;
}

.bar.bar-bottom {
    width: 100%;;
    height: 50px;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    background-color: #ff7200;

}

.page.account_safety {
    width: 100%;
    height: 100%;
}

.title {
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
    display: block;
    color: white;
}

.bg-theme {
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
    display: block;
    color: white;
}

.change_password {
    font-size: 1.1em;
    margin-top: 10%;
    color: #666;
}

.content_account_safety {
    margin-top: 45px;

}

.change_password_row {
    width: 100%;
    height: 40px;
}

.account.security {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: white;
    padding-top: 8px;
}

.exit.account {
    width: 100%;
    text-align: center;

    color: white;
    padding-top: 10px;

}

.content_account-safety {
    margin-top: 45px;
}

.change_password_word {
    width: 100%;
    height: 41px;
    display: block;
    /* border-bottom: #eee solid 1px; */
    padding: 10px;
}

.fa.fa-angle-right {
    display: flex;
    font-size: 1.8em;
    padding: 10px;
}

.fa.fa-angle-left {
    font-size: 2.4em;
    position: fixed;
    /* margin-left: 5%; */
    /* margin-top: 5px; */
    color: white;
    padding: 3px 10px;
}

.change_password_row {
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: #eee solid 1px;
    /* line-height: 20px; */
}

.bar.cart-bar-bottom {
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 50px;
    border-top: 1px solid #e7e7e7
}

.cart-bottom-left {
    width: 60%;
}

.cart-pay-icon {
    width: 40px;
    position: absolute;
    margin: 10px;
}

.cart-bottom-item {
    margin-left: 15%;
}

.cart-pay {
    width: 40%;
    text-align: center;
    background-color: #ff7200;
}

.cart-pay-text {
    padding: 18px;
    display: block;
    font-size: 1.2em;
    color: white;
}

.cart-content {
    width: 100%;
    bottom: 46px;
}

.cart-header {
    width: 100%;
    height: 2.8em;
    display: flex;
    padding: 8px 0px;
    background-color: #f9f9f9;
}

.cart-header-text {
    padding-left: 3%;
}

.cart-header-Coupon {
    padding-left: 6%;
    color: #ff7200;
    font-size: 1.1em;
}

.cart-commodity {
    width: 100%;
    display: flex;
    border-bottom: #eee solid 1px;
}

.cart-commodity-left {

}

.cart-commodity-right {
    padding: 4px;
}

.cart-commdity-info {
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}

.cart-commodity-attribute {
    font-size: .8em;
    color: gray;
}

.weui-cell__bd.cart-bar_pay {
    width: 100%;
    display: flex;

}

.weui-cell__bd.cart-left {
    width: 60%;
    background-color: white;
    display: flex;
}

.weui-cell__bd.cart-right {
    width: 40%;
    background-color: #ff7200;
}

.cart.bar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 53px;
}

.bottm-item-color {
    color: #ff7200;
    font-weight: bold;
}

.weui-cell__bd.cart-left {

}

.weui-cell__bd.cart-left-wrap {
    width: 25%;
    text-align: center;
}

.weui-cell__bd.cart-left-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 5px;
}

.cart-bottom-item-wrap {
    width: 75%;
    padding: 5px 0;
}

.weui-cell__bd.cart-left-icon img {
    width: 100%;
    height: 100%;

}

.cart-pay {
    width: 100%;
    text-align: center;
    background-color: #ff7200;
}

.page.cart {
    height: 100%;
    background-color: white;
}

.weui-pull-to-refresh__layer {
    height: 30px;
    line-height: 30px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.user-service-list-item-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
}

.row {
    display: flex;
}

.user-service-list-item-icon img {
    width: 100%;
    height: 100%;
}

.cart-commodity-content:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #d9d9d9;
    top: 0;
    border-top: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.cart-commodity-content:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #d9d9d9;
    bottom: 0;
    border-bottom: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.cart.delete_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.cart.delete_icon img {
    width: 100%;
    height: 100%;
}

.cart.delete_icon-wrap {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.cart-price {
    color: #ff7200;
    font-weight: bold;
}

.cart-count {
    display: flex;
    position: relative;
}

.count-left {
    width: 30%;
    height: 1.8rem;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: .3rem;
    text-align: center;
    line-height: 1.4rem;
    font-size: 1.4rem;
}

.count-center {
    width: 40%;
    height: 1.8rem;
    float: left;
    text-align: center;
    line-height: 1.8rem;
}

.count-right {
    width: 30%;
    height: 1.8rem;
    float: right;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: .3rem;
    text-align: center;
    line-height: 1.6rem;
    font-size: 1rem;
}

.cart-picture {
    width: 85px;
    /* height: 80px; */
    display: block;
    padding: 10px;
}

.cart-commodity-left_icon {
    width: 10%;
    text-align: center;
}

.cart-commodity-right_icon {
    width: 10%;

}

.cart-commodity-content {
    width: 100%;
    display: flex;
    padding: 5px;
    position: relative;
}

.fa.fa-circle-o.cart {
    font-size: 1.6em;
    padding: 45px 0px;
    color: #999;
}

.fa.fa-trash.cart {
    padding: 50px 0px;
    color: #999;
}

.cart-count-wrap {
    width: 6rem;
    height: 1.8rem;
    line-height: 1rem;
    background: #eee;
    font-size: .5rem;
    border-radius: .3rem;
    display: flex;
}

.page.user {
    font-size: 14px;
    height: 100%;
    background-color: #f6f6f6;
}

.user-info {
    width: 100%;
    background-color: #ff7200;
    height: 146px;
}

.user-order {
    width: 100%;
    height: 76px;
    display: flex;
    color: #939393;
}

.page.commodity_details {
    height: 100%;
    background-color: white;
}

.user-order-item-icon {
    display: block;
    width: 22px;
    height: 22px;
}

.user-order-item-icon img {
    width: 100%;
    height: 100%;
}

.user-line {
    width: 100%;
    height: 4px;
    background-color: #ebebeb;
}

.user-service {
    width: 100%;
    border-bottom: solid #eee 4px;
    border-top: solid #eee 4px;
}

.fa.fa-angle-right.cart {
    font-size: 1.8em;
    padding: 0 10px;
    color: #666;
}

.fa.fa-home.cart {
    font-size: 1.6em;
    color: #666;
}

.cart-header-left {
    width: 80%;
    display: flex;
    padding: 10px;
}

.cart-header-right {
    width: 20%;
    text-align: right;
    padding: 10px;
}

.user-commodity_exhibition {

}

.commodity_details-commodity_images {
    width: 100%;
}

.commodity_details-commodity_images-image {
    display: inline-block;
    height: auto;
    width: 100%;
}

.commodity_details-commodity_images-image img {
    width: 100%;
    height: 100%;
}

.user-bar_bottom {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    display: flex;
}

.user-bar_bottom-item {
    width: 25%;
    text-align: center;
    color: #3c3a3a;
    /* padding-top: 28px; */
    /* padding: 10px; */
    padding-top: 18px;
    display: block;
}

.user-bar_bottom-text {
    display: block;
    color: black;
}

#user-icon {

}

.fa.fa-home.user {
    font-size: 1.6em;
}

.fa.fa-coffee.user {
    font-size: 1.6em;
}

.fa.fa-shopping-bag.user {
    font-size: 1.6em;
}

.fa.fa-shopping-cart.user {
    font-size: 1.6em;
}

.fa.fa-user.user {
    font-size: 1.6em;
}

.user-info_top {
    width: 100%;
    height: 50%;
    display: flex;
}

.user-info_bottom {
    width: 100%;
    height: 50%;
    display: flex;
}

.user-bar-bottom-item {
    width: 33%;
    text-align: center;
    padding: 5px 0px;
    color: whitesmoke;
}

.user-portrait {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}

.user-info-name {
    color: white;
    padding: 15px 0;
    font-size: 1.2em;
}

.amount {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
}

.fa.fa-credit-card.user {
    font-size: 1.6em;
}

.fa.fa-truck.user {
    font-size: 1.6em;
}

.fa.fa-comments-o.user {
    font-size: 1.6em;
}

.fa.fa-wrench.user {
    font-size: 1.6em;
}

.fa.fa-file-text.user {
    font-size: 1.6em;
}

.user-order-item_text {
    display: block;
    color: #878686;
}

.user-order-item {
    width: 20%;
    text-align: center;
    padding: 20px 0;
    position: relative;
    color: #666;
}

.user-service-list {
    display: flex;
    border-bottom: #f5f5f5 solid .01px;
}

.user-service-list.e {
    display: flex;
    border-bottom: white solid 0px;
}

.classification-content_all {
    position: absolute;
    top: 0;
    bottom: 53px;
    width: 100%;
}

.user-service-list-item {
    width: 25%;
    padding: 22px 0;
    text-align: center;
    border-right: #f5f5f5 solid .01px;
}

.user-service-list-item.e {
    width: 25%;
    padding: 22px 0;
    text-align: center;
    border-right: #eee solid 0px;
}

.user-service {

}

.user-item-image {

}

.user-service-text {
    display: block;
    color: #878686;
    padding-top: 4px;
}

.user-icon-recharge {

}

.user-bar_bottom-item-ex {
    width: 25%;
    text-align: center;
    color: #3c3a3a;
    line-height: 8px;
}

.user-bar_bottom-item-selected {
    width: 25%;
    text-align: center;
    color: #ff7200;
    padding-top: 18px;
}

.user-my_badge {
    display: inline-block;
    padding: .15em .4em;
    min-width: 8px;
    border-radius: 18px;
    background-color: #ff7200;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    position: absolute;
    top: 1em;
    right: 1em;
}

.classification-content {
    width: 100%;
    /*top: 45px;*/
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.classification-item {
    width: 25%;
    padding: 10px 0px;
    text-align: center;
}

.classification-item-image {
    width: 50px;
    border-radius: 20%;
}

.classification-item-text {
    display: block;
    color: #666;
}

.commodity_details-bar-bottom {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: gainsboro solid 1px;
    z-index: 100;
}

.commodity_tetails-bottom-item {
    width: 13%;
    text-align: center;
    line-height: 16px;
    padding: 4px 0px;

}

.commodity_tetails-bottom-item-text {
    display: block;
    color: #999;
}

.commodity_tetails-bottom-item-add_to_cart {
    width: 30%;
    background-color: orange;
    text-align: center;
}

.commodity_tetails-bottom-item-purchase {
    width: 30%;
    background-color: #ff7200;
    text-align: center;

}

.commodity_tetails-bottom-item-text-s {
    color: white;
    display: block;
    margin: 15px;
}

.commodity_tetails-bottom-item-images {
    width: 30px;
}

.commodity_details-content {
    position: absolute;
    /*top: 45px;*/
    width: 100%;
    background-color: white;
    margin-bottom: 53px;
}

.commodity_details-swiper-slide-images {
    display: block;
    width: 100%;
    height: 300px;
}

.weui-cells {
    margin-top: 0;
    background-color: #fff;
    line-height: 1.41176471;
    font-size: 14px;
    overflow: hidden;
    position: relative;
}

.swiper-slide swiper-slide-duplicate {
    width: 100%;
}

.commodity_details-swiper-wrapper-image {
    height: 375px;
    width: 375px;
}

.my_main-swiper-slide-image {
    width: 100%;
}

.commodity_details-info {
    width: 100%;
}

.commodity_details-info-name {
    padding: 10px 0px;
    display: flex;
}

.commodity_details-info-name-text {
    width: 80%;
    padding: 10px;
}

.commodity_details-info-name-text-icon {
    display: block;
    padding: 10px;
}

.commodity_details-info-price {
    color: #ff7200;
    font-weight: bold;
    padding-left: 3%;
    font-size: 1.2em;
}

.page-classification {
    height: 100%;
    background-color: white;
}

.fa.fa-share-alt.commodity_details-info-name {
    padding: 20px 25px;
}

.commodity_details-info-price-discount {
    color: white;
    font-size: 0.8em;
    /* padding: 0px 3px; */
    margin-left: 5%;
    background-color: #ff7200;
}

.commodity_details-info-transport {
    width: 100%;
    display: flex;
    padding: 5px;
}

.commodity_details-info-transport-item {
    width: 33%;
    padding: 0px 10px;
    text-align: left;
    color: #999;
}

.commodity_details-info-statement {
    width: 100%;
    display: flex;
    background-color: #f9f9f9;
}

.commodity_details-info-statement-item {
    width: 30%;
    text-align: left;
    padding: 15px 10px;
}

.commodity_details-info-statement-item-image {
    width: 15px;
    border-radius: 50%;
}

.commodity_details-info-statement-item-text {
    color: #999;
}

.commodity_details-info-statement-item-icon {
    width: 10%;
}

.fa.fa-angle-right.commodity_details {
    text-align: center;
    padding: 10px;

    color: #999;
}

.commodity_details-info-Coupons {
    width: 100%;
    display: flex;
    background-color: #f9f9f9;
    border-top: white solid 1px;
}

.commodity_details-info-Coupons-image {
    width: 70px;
    height: 20px;
    padding: 10px 0px;
}

.commodity_details-info-Coupons-text {
    display: block;
    padding: 10px;
    color: #999;
}

.commodity_details-info-option {
    display: flex;
    width: 100%;
}

.commodity_details-info-option-left {
    width: 50%;
    text-align: center;
    color: #ff7200;
    padding: 10px;
    border-bottom: #ff7200 solid 2px;
}

.commodity_details-info-option-right {
    width: 50%;
    text-align: center;
    padding: 10px;
}

.commodity_details-info-option-right:active {
    width: 50%;
    text-align: center;
    color: #ff7200;
    padding: 10px;
    border-bottom: #ff7200 solid 2px;
}

.commodity_details-info-Coupons-left {
    width: 90%;
    display: flex;
    padding: 0 50px 0 10px;
}

.commodity_details-info-Coupons-right {
    width: 10%;
}

.commodity_details-info-option-left-text {

}

.commodity_details-info-option-right-text {

}

.swiper-wrapper-commodity_details-images {
    width: 100%;
    height: 300px;
}

.classification-content_all-nav_bar {
    width: 100%;
    border-top: #eee solid 7px;
    border-bottom: #eee solid 1px;
    display: block;
    color: black;
}

.classification-content_all-nav_bar-wrap {
    width: 100%;
    display: flex;
}

.classification-content_all-nav_bar-left {
    width: 75%;
    display: flex;
    padding: 10px;
}

.classification-content_all-nav_bar-left p {
    padding: 5px;
}

.classification-content_all-item-display-s {
    width: 100%;
    display: flex;
    border-bottom: white solid 0;
}

.classification-content_all-nav_bar-icon {
    width: 20px;
    height: 20px;
    padding-top: 5px;
}

.classification-content_all-nav_bar-icon img {
    width: 100%;
    height: 100%;
}

.classification-content_all-item-display-item-s {
    width: 50%;
    display: flex;
    border-right: white solid 0;
}

.classification-content_all-nav_bar-right {
    width: 25%;
    display: flex;
    right: 0;
    justify-content: center;
    align-items: center;
}

.classification-content_all-nav_bar-right p {

}

.classification-content_all-nav_bar-icon-right {
    width: 18px;
    height: 18px;
    padding-left: 5px;
}

.classification-content_all-nav_bar-icon-right img {
    width: 100%;
    height: 100%;
}

.classification-content_all-item {

}

.classification-content_all-item-display {
    width: 100%;
    display: flex;
    border-bottom: #eee solid 1px;
}

.classification-content_all-item-display-item {
    width: 50%;
    display: flex;
    border-right: #eee solid 1px;
}

.classification-content_all-item-display-item-text {
    width: 50%;
    padding: 10px;
}

.classification-content_all-item-display-item-text p {
    padding: 0 10px;
}

.classification-content_all-item-display-item-image-wrap {

}

.classification-content_all-item-display-item-text span {
    width: 50%;
    padding: 10px;
    color: #999;
}

.classification-content_all-item-display-item-image {
    width: 60px;
    height: 60px;
    padding: 10px 0;
}

.classification-content_all-item-display-item-image img {
    width: 100%;
    height: 100%;
}

/*   填写订单页面样式表   */

.fill_order-bottom_bar {
    position: fixed;
    bottom: 0;
    z-index: 9;
    background-color: white;
    display: flex;
    width: 100%;
}

.fill_order-bottom_bar-left {
    width: 60%;
    padding: 10px 0;
    text-align: left;
}

.fill_order-bottom_bar-left-text {
    margin-left: 6%;
    color: #666;
}

.fill_order-bottom_bar-left-price {
    color: #ff0000;
    font-weight: bolder;
}

.fill_order-bottom_bar-right {
    width: 40%;
    text-align: center;
    padding: 10px 0;
    background-color: #ff7200;
    color: white;
    font-size: 1.2em;
}

.fill_order-bottom_bar-right-text {

}

.fill_order-content {
    position: absolute;
    top: 0;
    bottom: 46px;
    width: 100%;
    background-color: white;
}


.fill_order-content-company {
    width: 100%;
    display: flex;
    padding: 10px;
}

.fill_order-content-company-icons {
    display: inline-block;
    width: 26px;
    height: 26px;
}

.fill_order-content-company-icons img {
    width: 100%;
    height: 100%;
}

.fill_order-content-commodity {
    width: 100%;
    display: flex;
}

.fill_order-content-commodity-left {
    width: 40%;
    padding: 10px;
}

.fill_order-content-commodity-image {
    width: 100%;
    height: 100%;
}

.fill_order-content-commodity-image img {
    width: 100%;
    height: 100%;
}

.fill_order-content-commodity-right {
    width: 60%;
    padding: 10px 0;
    color: #666;
}

.fill_order-content-commodity-right-text {

}

.fill_order-content-commodity-right-number {
    padding: 10px 0;
}

.fill_order-content-commodity-right-price {

}

.fill_order-content-commodity-right-price .price {

}

.fill_order-content-commodity-right-price .discount {
    font-size: .8em;
    background-color: #ff7200;
    color: white;
    border-radius: 10%;
}

.fill_order-content-leaving_message {
    display: flex;
    width: 100%;
}

.fill_order-content-leaving_message-left {
    width: 20%;
    padding: 10px 0 0 4%;
}

.fill_order-content-leaving_message-left-text {

}

.fill_order-content-leaving_message-right {
    width: 80%;
}

.fill_order-content-total {
    width: 100%;
    text-align: right;
    padding: 10px 0;
}

.fill_order-content-total-1 {

}

.fill_order-content-total-2 {

}

.fill_order-content-total-3 {
    color: #ff7200;
    font-weight: bold;
    padding-right: 4%;
}

.fill_order-content-company-name {
    padding: 0 10px;
}

.fill_order-content-order_details-user_info {
    /* padding: 10px 0 5px 10%; */
    padding: 5px 15px;
    /* font-size: 0.9rem; */
    font-weight: 400;
}

.fill_order-content-order_details-user_info .user_name {

}

.fill_order-content-order_details-user_info .number {

}

.fill_order-content-order_details-user_info .default {
    font-size: .8em;
    float: right;
    padding-right: 6%;
}

.fill_order-content-order_details-address {
    display: flex;
    width: 100%;
    padding: 5px 0px;
}

.fill_order-content-order_details-address-icon1 {
    /* width: 10%; */
    text-align: center;
    padding-top: 4px;
    padding-left: 10px;
}

.fill_order-content-order_details-address-icon1 img {

}

.fill_order-content-order_details-address-text {
    width: 80%;
}

.fill_order-content-order_details-address-icon2 {
    width: 10%;
}

.fill_order-content-order_details-address-icon2-wrap {
    width: 0.675rem;
    height: 0.675rem;
}

.fill_order-content-order_details-address-icon2-wrap img {
    width: 100%;
    height: 100%;
}

/* page-receiving_way 收货方式 */

.page-receiving_way {

}

.receiving_way-buttom_button {
    position: fixed;
    bottom: 0;
    background-color: #ff7200;
    width: 100%;
    z-index: 9;
    text-align: center;
}

.receiving_way-buttom_button .add_address {
    display: block;
    padding: 12px 0;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}

.receiving_way-content {
    background-color: white;
    width: 100%;
}

.address_item {
    width: 100%;
    display: flex;
    border-bottom: #eee solid 1px;
}

.address_item-s {
    width: 100%;
    display: flex;
    border-bottom: white solid 0;
}

.address_item-wrap {
    padding: 10px;
    display: flex;
    width: 100%;
}

.address_item-address-left {
    width: 100%;
}

.address_item-address-left-top {
    padding: 5px 0;
}

.address_item-address-left-top-name {
    display: inline-block;
}

.address_item-address-left-top-number {
    display: inline-block;
    float: right;
}

.address_item-address-left-bottom {
    padding: 5px 0;
}

.default_address {
    color: #ff7200;
    font-weight: 400;
}

.address_item-address-right {
    width: 10%;
    text-align: center;
}

.address_item-address-right-wrap {
    padding: 25px 0 0 15px;
}

.address_item-address-right-wrap-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.address_item-address-right-wrap-icon img {
    width: 100%;
    height: 100%;
}

/* edit_address 编辑收货地址 */

.page-edit_address {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 50px;
}

.edit_address-content {

}

.weui-switch:checked {
    border-color: #ff7200;
    background-color: #ff7200;
}

.add_address-content {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 50px;
}

/* 订单页面 */
.order-content {
    width: 100%;
    height: 100%;
    background-color: white;
    /*top: 45px;*/
    position: absolute;
}

.weui-navbar__item.weui-bar__item--on {
    color: #ff7200;
    border-bottom: #ff7200 solid 2px;
    background-color: white;
}

.weui-navbar__item:after {

    border-right: 0 solid white;

}

.fill_order-content-total-4 {
    font-size: .8em;
    color: #666;
}

.order-content-deadline {
    width: 95%;
    padding: 5px 0;
    text-align: right;
    border-bottom: solid #eee 1px;
}

.order-content-item-company {
    display: flex;
    width: 100%;
    /*padding: 10px 0 5px 5px;*/
    /*padding: 10px 0 0 15px;*/
    padding: 10px 0px;
    position: relative;
}

.order_position-F {
    position: relative;
}

.order_position-C {

}

.order_
.order-content-item-company-icon {
    display: inline-block;
    height: 1.55rem;
    width: 1.55rem;
    padding-left: 15px;
}

.order-content-item-company-icon img {
    width: 100%;
    height: 100%;

}

.order-content-item-order_number {
    width: 100%;
    display: flex;
    padding: 0px 15px;
}

.order-content-item-order_number-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 5px;
}

.order-content-item-order_number-icon img {
    width: 100%;
    height: 100%;
}

.button_sp_area {
    width: 100%;
    text-align: right;
    border-bottom: #eee solid 4px;
    padding-bottom: 10px;
}

.order-content-item-order_status {
    /* text-align: right; */
    display: inline-block;
    color: #ff7200;
    /* padding-left: 20%; */
    /* float: right; */
    position: absolute;
    /* right: 3%; */
    width: 25%;
    right: 0;
    position: absolute;
}

.order-content-total {
    width: 95%;
    text-align: right;
    padding: 5px 0;
}

/* account */

.account-image {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.account-image img {
    width: 100%;
    height: 100%;
}

.weui-cell {
    padding: 14px 15px;

}

.weui-vcode-btn {

    color: #ff7200;
}

/* 订单详情 */
.order_detail {

}

.order_detail-return {
    padding: 10px;
    background-color: #f9f9f9;
}

.order_detail-return-wrap {

}

.order_detail-return-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.order_detail-return-icon img {
    width: 100%;
    height: 100%;
}

.order_detail-return-text {
    color: black;

    position: absolute;
}

.order_tetail-transport {
    background-color: #fe7d00;
    padding: 12px 0;
}

.order_tetail-transport-wrap {
    display: flex;
    align-items: center;
}

.order_tetail-transport-wrap .word {
    padding-left: 10%;
    line-height: 24px;
    color: white;
}

.order_tetail-transport-wrap .image {
    display: inline-block;
    width: 160px;
    height: 100px;
}

.order_tetail-transport-wrap .word .big {
    font-size: 1.3em;
}

.order_tetail-transport-wrap .image img {
    width: 100%;
    height: 100%;
}

.recipients_info {
    border-bottom: 6px solid #eee;
}

.recipients_info-wrap {
    padding: 14px 11px;
    display: flex;
}

.recipients_info-icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    padding: 20px 0;
}

.recipients_info-text {

}

.recipients_info-text.left {
    width: 27px;
    height: 27px;
    display: inline-block;
    padding-top: 17px;
}

.recipients_info-text .right {
    float: right;
    padding-right: 9px;
}

.recipients_info-l {

}

.recipients_info-r {
    line-height: 23px;
    padding-left: 5px;
    color: #666;
}

.weui-media-box__title {

    white-space: normal;
    font-size: 14px;
    overflow: hidden;
    width: 80%;

}

.coloured_ribbon {
    width: 100%;
}

.coloured_ribbon img {
    width: 100%;
}
.min_color{
    color: #ff7200;
}
.marsk{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
}
.marsk_confirm{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
    border-radius: 20px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    /*opacity: 0;*/
    /*-webkit-transform: scale(0.9) translate(-50%, -50%);*/
    /*transform: scale(0.9) translate(-50%, -50%);*/
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    /*visibility: hidden;*/
    margin: 0;
    /*top: 45%;*/
    z-index: 2000;
    position: fixed;
    /*z-index: 5000;*/
    width: 80%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    /*-webkit-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    background-color: #fff;
    text-align: center;
    /*border-radius: 3px;*/
    overflow: hidden;
}
.price_color{
    color: #ff0000;
}
.bg-primary_zy{
    color: orangered
}
.bg-warning_zy{

}