@charset "utf-8";
html{
    font-size:62.5%;
    color:#222;
}
div,html,body,span,a,img,ul,li,h1,h2,h3,p{
      margin: 0;
      padding: 0;
}
img {
      width: 100%;
      display: block;
      border: none;
}
li{
    display: flex;
    list-style: none;
}
.row {
      flex-direction: row;
}

.col {
      flex-direction: column;
}

.container div,.container ul,.container li {
    display: flex;
}
.footer div,.footer ul,.footer li {
    display: flex;
}
a{
    text-decoration: none;
}



